# CONFIG_RTC_DRV_DS1307 is not set
CONFIG_RTC_DRV_ISL1208=y
# CONFIG_RTC_DRV_PCF8523 is not set
# CONFIG_RTC_DRV_RV8803 is not set
CONFIG_IIO_MUX=y
CONFIG_MUX_GPIO=y
CONFIG_I2C_MUX=y

CONFIG_SENSORS_IIO_HWMON=y
CONFIG_ASPEED_ADC=y
CONFIG_SENSORS_LM75=y
CONFIG_I2C_SLAVE=y
CONFIG_I2C_SLAVE_MQUEUE=y
CONFIG_SENSORS_SMPRO=y
CONFIG_SENSORS_ASPEED=y

CONFIG_USB_PHY=y
CONFIG_USB_GADGET=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_ASPEED_VHUB=y
CONFIG_USB_CONFIGFS_ECM=y

CONFIG_SENSORS_W83773G=y
CONFIG_SENSORS_DIMM_TEMP=y
CONFIG_SENSORS_NCT7802=y
CONFIG_SENSORS_NVME_TEMP=y
CONFIG_DEVMEM=y
CONFIG_DEVMEM_BOOTPARAM=n
CONFIG_GPIO_PCA953X=y
CONFIG_GPIO_IDENTIFY_LED=y
CONFIG_I2C_MUX_PCA954x=y

CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_NET_NCSI=y
CONFIG_NCSI_OEM_CMD_GET_MAC=y
CONFIG_NCSI_OEM_CMD_KEEP_PHY=y
CONFIG_ETHTOOL_NETLINK=y

CONFIG_HWMON=y
CONFIG_MFD_SMPRO=y
CONFIG_SMPRO_MISC=y
CONFIG_SMPRO_ERRMON=y

CONFIG_IPMB_DEVICE_INTERFACE=y
